div{
    border: 1px solid black;
}

#page{
width: 963px;
margin: 0 auto 0 auto;
}

#logo {
   float: left;
}

ul#menu {
   text-align: right;
  list-style-type: none;
  text-transform: uppercase;
}

ul#menu li {
   display: inline;
   margin: 0 1ex 0 1ex;
}

ul#menu a{
   color: #AAA;
   text-decoration: none;
   padding: 0.3ex 1ex 0.3ex 1ex;
}

ul#menu a:hover {
background-image: url('../images/fondo_boton.png');
}
#claim {
    background-image: url('../images/claim.png');
height: 336px;
}

#showfront {
float:right;
    margin-top:80px;
    margin-right:50px;
}
#claim span {
    margin-top:70px;
    margin-left:40px;
float:left;
color:white;
      font-size:20pt;
      font-family:arial;
 	 
}
.Advantage{
background-color: #EDEDED;
font-size: 10pt;
font-family: arial;
width: 300px;
display:inline-block;
float: left;
padding: 2ex 1ex 1ex 1ex;
border: 0px;
}
.save{
float: left;
margin-right: 5px;
}
