div{
border: 0px solid black;
}

#page{
width: 963px;
margin: 0 auto 0 auto;
}

#logo {
   float: left;
   width: 220px;
   height: 30px;
}

ul#menu {
   text-align: right;
  list-style-type: none;
  text-transform: uppercase;
}

ul#menu li {
   display: inline;
   margin: 0 1ex 0 1ex;
}

ul#menu a{
   color: #AAA;
   text-decoration: none;
   padding: 0.3ex 1ex 0.3ex 1ex;
}

ul#menu a:hover {
background-image: url('../images/fondo_boton.png');
}
#claim {
    background-image: url('../images/claim.png');
height: 336px;
position: relative;
}

#showfront {
float:right;
    margin-top:77px;
    margin-right:350px;
position: absolute;
	  z-index: 2;
right: 0px;
    width: 400px;

    height: 280px;

}
#claim span {
    margin-top:70px;
    margin-left:40px;
float:left;
color:white;
      font-size:20pt;
font-family:arial;
 
}
.Advantage{
background-color: #EDEDED;
float:left;
font-size: 9pt;
font-family: arial;
width: 309px;
height: 100px;
padding: 5ex 1ex 1ex 1ex;
border: 0px;
}
#advantages{
display:inline-block;
}
.Text{
position: relative;
left:90px;
top:-40px;
}
#button {
   margin-top: 200px;
   margin-left:-350px;
  
}
.Texto {
	position: relative;
color: red;
font-weight: bold;
font-size: 12pt;
border: 0px;
top: -43px;
left: 75px;
}
.Presentation {
    font-size: 10pt;
font-family: arial;
width: 300px;
display:inline-block;
float: left;
padding: 5ex 1ex 1ex 1ex;
border: 0px;
}

.Read {
    float: left;
    margin-top:30px;
   height:40px; 
}

.Aside {
background-color: #EDEDED;
float: left;
width: 284px;
height:200px;
font-size: 9pt;
font-family: arial;
padding: 5ex 1ex 2ex 5ex;
border:0px;

}
#aside {
display:inline-block;

}
